<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- logger in console -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{yyyy-MM-dd HH:mm:ss.SSS zzz} [%5p] %C:%L - %m%n"/>
        </layout>
    </appender>
    
    <!-- logger in file -->
    <appender name="APPLOGFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="c:/spider/application.log" />
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="5120000" />
		<param name="MaxBackupIndex" value="50" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS zzz} [%5p] %C:%L - %m%n" />
		</layout>
	</appender> 
    
    <!-- logger for package -->
    <logger name="com.hp.it.wstax.spider">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APPLOGFILE" />
    </logger>
	<logger name="org.apache.http" >
		<level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APPLOGFILE" />
	</logger>
    

    <root>
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APPLOGFILE" />
    </root>

</log4j:configuration>
